/* Simplified tabs component */

.mefly-tabs {
  margin: 0;
}

.mefly-tabs__list {
  display: flex;
  align-items: flex-end;
  gap: 0.35rem;
  margin: 0.5rem;
  padding: 0 1rem;
  list-style: none;
  white-space: nowrap;
  border-bottom: 1px solid gray;
}

.mefly-tabs__list-item {
  margin: 0;
  padding: 0;
}

.mefly-tabs__tab {
  display: inline-flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0.6rem 1rem;
  margin: 0;
  border: 1px solid gray;
  border-radius: 0;
  color: black;
  text-decoration: none;
  position: relative;
  top: 1px;
}

.mefly-tabs__tab:hover {
  background: silver;
}

.mefly-tabs__tab--selected {
  background: white;
  border-color: gray;
  overflow: visible;
  border-bottom: 0;
}

.mefly-tabs__tab--pseudo {
  display: inline-flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0.6rem 1rem;
  margin: 0;
  border: 1px solid gray;
  border-radius: 0;
  color: black;
  position: relative;
  top: 1px;
  cursor: default;
}

.mefly-tabs__tab-icon {
  width: 1.25rem;
  height: 1.25rem;
  display: block;
}

.mefly-tabs__panel {
  padding: 2rem 1rem;
}