<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ page.title }} | {{ site.title }}</title>
  <link rel="icon" type="image/svg+xml" href="{{ '/favicon.svg' | relative_url }}">
  <link rel="stylesheet" href="{{ '/assets/main.css' | relative_url }}">
  <link rel="stylesheet" href="{{ '/assets/tabs.css' | relative_url }}">
</head>
<body>
  <header>
    <nav>
        {% for item in site.tabs %}
            {% if item.kind == 'label' %}
              <span class="tab {% if item.css_class %} {{ item.css_class }}{% endif %}">
                {{ item.label }}
              </span>
            {% else %}
              <a
                class="tab {% if item.css_class %} {{ item.css_class }}{% endif %} {% if page.url == item.url %} selected{% endif %}"
                href="{{ item.url | relative_url }}">
                {% if item.icon %}
                  <img src="{{ item.icon | relative_url }}" alt="">
                {% endif %}
                <span>{{ item.label }}</span>
              </a>
            {% endif %}
          
        {% endfor %}
      
    </nav>
  </header>

  <main class="main">
    {{ content }}
  </main>
</body>
</html>
